<a href="https://colab.research.google.com/github/rfaylona/deep-learning/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
url = 'https://raw.githubusercontent.com/rfaylona/deep-learning/main/Resources/charity_data.csv'
application_df = pd.read_csv(url)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
# Keeping 'NAME' column to be used for binning to increase data sample
application_df.drop(['EIN'], axis = 1, inplace = True)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME counts for binning
name_count = application_df['NAME'].value_counts()
name_count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `name_count_to_replace`
name_count_to_replace = list(name_count[name_count < 5].index)

# Replace in dataframe
for name in name_count_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df['APPLICATION_TYPE'].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_count[app_count < 528].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(class_count[class_count < 1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies = pd.get_dummies(application_df)
app_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
y = app_dummies['IS_SUCCESSFUL']
X = app_dummies.drop(['IS_SUCCESSFUL'],axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=50)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  Added third hidden node and layer
num_features = len(X_train_scaled[0])
hidden_nodes_1 = 80
hidden_nodes_2 = 30
hidden_nodes_3 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_1, input_dim=num_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                35760

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 20)                620

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 38,831
Trainable params: 38,831
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4710 - accuracy: 0.7776
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4326 - accuracy: 0.7921
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4292 - accuracy: 0.7947
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4262 - accuracy: 0.7953
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4246 - accuracy: 0.7963
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4236 - accuracy: 0.7966
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4227 - accuracy: 0.7973
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4212 - accuracy: 0.7978
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.7988
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4199 - accuracy: 0.7991
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.7995
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7992
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4182 - accuracy: 0.8013
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.8012
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.8003
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.8003
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.8015
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4156 - accuracy: 0.8013
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4154 - accuracy: 0.8016
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4145 - accuracy: 0.8009
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4142 - accuracy: 0.8016
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4134 - accuracy: 0.8027
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.8026
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4129 - accuracy: 0.8029
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4126 - accuracy: 0.8036
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4125 - accuracy: 0.8039
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4122 - accuracy: 0.8030
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4118 - accuracy: 0.8035
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4119 - accuracy: 0.8043
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4110 - accuracy: 0.8033
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4112 - accuracy: 0.8035
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4107 - accuracy: 0.8042
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4103 - accuracy: 0.8045
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4102 - accuracy: 0.8045
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4096 - accuracy: 0.8051
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4090 - accuracy: 0.8044
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4098 - accuracy: 0.8040
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4088 - accuracy: 0.8043
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4088 - accuracy: 0.8055
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4086 - accuracy: 0.8047
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4084 - accuracy: 0.8051
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4083 - accuracy: 0.8054
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4077 - accuracy: 0.8056
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4081 - accuracy: 0.8057
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4073 - accuracy: 0.8061
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4075 - accuracy: 0.8053
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4071 - accuracy: 0.8054
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4071 - accuracy: 0.8061
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4065 - accuracy: 0.8069
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4071 - accuracy: 0.8061
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4067 - accuracy: 0.8056
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4060 - accuracy: 0.8055
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4059 - accuracy: 0.8066
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4060 - accuracy: 0.8059
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4056 - accuracy: 0.8069
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4053 - accuracy: 0.8064
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4050 - accuracy: 0.8068
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4054 - accuracy: 0.8064
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4059 - accuracy: 0.8066
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4052 - accuracy: 0.8061
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4051 - accuracy: 0.8063
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4049 - accuracy: 0.8064
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4049 - accuracy: 0.8069
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4047 - accuracy: 0.8065
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4049 - accuracy: 0.8066
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4041 - accuracy: 0.8073
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4039 - accuracy: 0.8071
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4038 - accuracy: 0.8072
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4041 - accuracy: 0.8067
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8073
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4038 - accuracy: 0.8077
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8067
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8073
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4036 - accuracy: 0.8070
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4032 - accuracy: 0.8072
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8073
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8071
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8073
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4030 - accuracy: 0.8074
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4030 - accuracy: 0.8074
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4027 - accuracy: 0.8073
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4027 - accuracy: 0.8075
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4030 - accuracy: 0.8067
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4025 - accuracy: 0.8070
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4029 - accuracy: 0.8075
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4026 - accuracy: 0.8069
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4020 - accuracy: 0.8073
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4025 - accuracy: 0.8066
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4019 - accuracy: 0.8077
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4025 - accuracy: 0.8078
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4020 - accuracy: 0.8071
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4018 - accuracy: 0.8069
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4024 - accuracy: 0.8077
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4019 - accuracy: 0.8080
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4020 - accuracy: 0.8075
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4021 - accuracy: 0.8081
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4018 - accuracy: 0.8078
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4015 - accuracy: 0.8084
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8078
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8082

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4757 - accuracy: 0.7985 - 485ms/epoch - 2ms/step
Loss: 0.4757370054721832, Accuracy: 0.7984839677810669

In [20]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/models/AlphabetSoupCharity_Optimization.h5')
files.download('/models/AlphabetSoupCharity_Optimization.h5')